{% extends 'base.html' %}
{% load static %}
{% block head_title %}Banking System{% endblock %}

{% block body %}
<div class="bg-gradient-to-r from-gray-400 to-gray-600 min-h-screen py-12 flex items-center justify-center">
    <div class="container mx-auto px-4 md:px-0">
        
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-4" role="alert">
            <strong class="font-bold">Error:</strong>
            <span class="block sm:inline">{{ error }}</span>
        </div>
        {% endfor %}
        {% endif %}
 
        <!-- Profile Card -->
        <div class="bg-white justify-center items-center w-full max-w-4xl rounded-lg shadow-lg px-10 py-8 mx-auto">
            <!-- Avatar and Header -->
            <div class="text-center">
                <!-- <div class="w-24 h-24 mx-auto rounded-full overflow-hidden border-2 shadow-lg border-blue-500">
                    <img src="" alt="your" class="w-full h-full object-cover">
                </div> -->
                <h1 class="text-2xl font-bold text-gray-800 mt-4">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                <p class="text-sm text-gray-600">Account No: {{ request.user.account.account_no }}</p>
                <p class="text-sm text-gray-600 mt-1">Joined on {{ request.user.date_joined|date:"F j, Y" }}</p>
            </div>

            <!-- Profile Information -->
            <div class="mt-4 ">
                <div class="flex justify-between items-center bg-gray-50 p-4 rounded-md shadow-sm">
                    <h4 class="text-sm font-medium text-gray-700">Email:</h4>
                    <p class="text-lg font-semibold text-gray-800">{{ request.user.email }}</p>
                </div>
                <div class="flex justify-between items-center bg-gray-50 p-4 rounded-md shadow-sm">
                    <h4 class="text-sm font-medium text-gray-700">Phone:</h4>
                    <p class="text-lg font-semibold text-gray-800">{{ request.user.account.phone }}</p>
                </div>
                <div class="flex justify-between items-center bg-gray-50 p-4 rounded-md shadow-sm">
                    <h4 class="text-sm font-medium text-gray-700">Account Type:</h4>
                    <p class="text-lg font-semibold text-gray-800 capitalize">{{ request.user.account.account_type }}</p>
                </div>
                <div class="flex justify-between items-center bg-gray-50 p-4 rounded-md shadow-sm">
                    <h4 class="text-sm font-medium text-gray-700">Balance:</h4>
                    <p class="text-lg font-semibold text-green-900">${{ request.user.account.balance|floatformat:2 }}</p>
                </div>
            </div>
        </div>
  
            <!-- Radio Button Fields -->
            <div class="max-w-4xl mx-auto bg-white shadow-2xl rounded-lg p-8 my-8 "> 
                <p class="text-md font-semibold text-gray-900   mb-8">Edit Option: </p>
                <div class="flex gap-12">
                    <!-- Radio button to enable/disable form fields -->
                    <div class="mb-6">
                        <label for="editProfileRadio" class="inline-flex items-center space-x-2">
                            <input type="radio" name="profileOption" id="editProfileRadio" class="form-radio h-5 w-5 text-blue-500"
                                onchange="toggleSections()" />
                            <span class="text-gray-800">Edit Profile</span>
                        </label>
                    </div> 
                    <!-- Radio button to show 'Hello' message -->
                    <div class="mb-6">
                        <label for="editPasswordRadio" class="inline-flex items-center space-x-2">
                            <input type="radio" name="profileOption" id="editPasswordRadio" class="form-radio h-5 w-5 text-blue-500"
                                onchange="toggleSections()" />
                            <span class="text-gray-800">Password Change</span>
                        </label>
                    </div>
                </div> 
            </div>

        <!-- Profile Update Form -->
        <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-8 md:p-10 mt-8 hidden" id="updateProfile">
            <h2 class="text-2xl font-semibold text-gray-800 text-center mb-8">Update Profile Information</h2>
            
            <form method="post" class="space-y-6">
                {% csrf_token %}
                
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }} {{ hidden_field }}
                {% endfor %}
                
                <div class="space-y-4">

                    <!-- User and Email Fields -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div class="flex flex-col">
                            <label for="{{ form.first_name.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.username.label }}</label>
                            {{ form.username }}
                            {% if form.username.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.username.errors }}</p>
                            {% endif %}
                        </div> 
                        <div class="flex flex-col">
                            <label for="{{ form.email.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.email.label }}</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.email.errors }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Name Fields -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div class="flex flex-col">
                            <label for="{{ form.first_name.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.first_name.label }}</label>
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.first_name.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="flex flex-col">
                            <label for="{{ form.last_name.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.last_name.label }}</label>
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.last_name.errors }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Phone and Account Type Fields -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div class="flex flex-col">
                            <label for="{{ form.email.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.phone.label }}</label>
                            {{ form.phone }}
                            {% if form.phone.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.phone.errors }}</p>
                            {% endif %}
                        </div> 
                        <div class="flex flex-col">
                            <label for="{{ form.account_type.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.account_type.label }}</label>
                            {{ form.account_type }}
                            {% if form.account_type.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.account_type.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
 

                    <!-- Gender and Birth Date Fields -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div class="flex flex-col">
                            <label for="{{ form.gender.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.gender.label }}</label>
                            {{ form.gender }}
                            {% if form.gender.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.gender.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="flex flex-col">
                            <label for="{{ form.birth_date.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.birth_date.label }}</label>
                            {{ form.birth_date }}
                            {% if form.birth_date.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.birth_date.errors }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Password Fields -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div class="flex flex-col">
                            <label for="{{ form.password1.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.password1.label }}</label>
                            {{ form.password1 }}
                            {% if form.password1.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.password1.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="flex flex-col">
                            <label for="{{ form.password2.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.password2.label }}</label>
                            {{ form.password2 }}
                            {% if form.password2.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.password2.errors }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Address Fields -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div class="flex flex-col">
                            <label for="{{ form.street_address.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.street_address.label }}</label>
                            {{ form.street_address }}
                            {% if form.street_address.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.street_address.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="flex flex-col">
                            <label for="{{ form.city.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.city.label }}</label>
                            {{ form.city }}
                            {% if form.city.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.city.errors }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Postal Code and Country Fields -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div class="flex flex-col">
                            <label for="{{ form.postal_code.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.postal_code.label }}</label>
                            {{ form.postal_code }}
                            {% if form.postal_code.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.postal_code.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="flex flex-col">
                            <label for="{{ form.country.id_for_label }}" class="text-sm font-medium text-gray-600 mb-2">{{ form.country.label }}</label>
                            {{ form.country }}
                            {% if form.country.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form.country.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-full shadow-md transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                        Update Profile
                    </button>
                </div>
            </form>
        </div>

        <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-8 md:p-10 mt-8 hidden" id="updatePassword">
             
            <h2 class="text-3xl font-semibold text-gray-800 text-center mb-6">Update Password</h2>
        
            <form method="post" class="space-y-6">
                {% csrf_token %}
        
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}
        
                <div class="space-y-6">
                    <!-- Old Password Field -->
                    <div class="flex flex-col space-y-2">
                        <label for="{{ password_form.old_password.id_for_label }}" class="text-sm font-medium text-gray-700">{{ password_form.old_password.label }}</label>
                        {{ password_form.old_password }} 

                        {% if password_form.old_password.errors %}
                            <p class="text-red-500 text-sm mt-2">{{ password_form.old_password.errors }}</p>
                        {% endif %}
                    </div>
        
                    <!-- New Password Field -->
                    <div class="flex flex-col space-y-2">
                        <label for="{{ password_form.new_password1.id_for_label }}" class="text-sm font-medium text-gray-700">{{ password_form.new_password1.label }}</label>
                        {{ password_form.new_password1 }}
                        {% if password_form.new_password1.errors %}
                            <p class="text-red-500 text-sm mt-2">{{ password_form.new_password1.errors }}</p>
                        {% endif %}
                    </div>
        
                    <!-- Confirm New Password Field -->
                    <div class="flex flex-col space-y-2">
                        <label for="{{ password_form.new_password2.id_for_label }}" class="text-sm font-medium text-gray-700">{{ password_form.new_password2.label }}</label>
                        {{ password_form.new_password2 }}
                        {% if password_form.new_password2.errors %}
                            <p class="text-red-500 text-sm mt-2">{{ password_form.new_password2.errors }}</p>
                        {% endif %}
                    </div>
                </div>
        
                <!-- Submit Button -->
                <div class="flex justify-center mt-6">
                    <button type="submit" class="w-full py-3 px-6 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
        


    </div>
</div>

<script>

 

 function toggleSections() {
        // Get the selected radio button
        const editProfileRadio = document.getElementById('editProfileRadio');
        const editPasswordRadio = document.getElementById('editPasswordRadio');
        
        // Get the sections
        const updateProfile = document.getElementById('updateProfile');
        const updatePassword = document.getElementById('updatePassword');

        // Check which radio button is selected and toggle visibility
        if (editProfileRadio.checked) {
            updateProfile.classList.remove('hidden');
            updatePassword.classList.add('hidden');
        } else if (editPasswordRadio.checked) {
            updatePassword.classList.remove('hidden');
            updateProfile.classList.add('hidden');
        }
    }

</script>
{% endblock %}


